---
- hosts: all
  become: true
  tasks:
    - name: Copy file with owner and permissions
      copy:
        src: daemon.json
        dest: /etc/docker/daemon.json
        owner: root
        group: root
        mode: u=rwx,g=rwx,o=rx
